.notification {
  position: absolute;
  top: 2px;
  right: 60px;
  z-index: 30;
  font-size: 1rem;
}
.notification p {
  padding: 0.1px 6px;
  border-radius: 2px;
  background-color: var(--orange);
  color: var(--white);
}

@media (max-width: 730px) {
  .notification {
    right: 55px;
  }
}
