.product-container {
  width: 80%;
  max-width: 1536px;
  margin: 90px auto 0 auto;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.main-image {
  border-radius: 10px;
  max-width: 400px;
  max-height: 390px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.product-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.image-thumbnails {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.image-thumbnails__img {
  border-radius: 10px;
  width: 90px;
  cursor: pointer;
  position: relative;
}
/* .image-thumbnails__img:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
} */
.product__title {
  font-size: 5rem;
}
.product__tag {
  color: var(--orange);
  font-weight: bold;
  font-size: 1.4rem;
}
.product__text {
  font-size: 1.8rem;
}
.product-select {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 10px;
}
.quantity-selector {
  background-color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  border-radius: 5px;
  font-size: 1.8rem;
}
.decrease-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.increase-btn,
.decrease-btn {
  font-size: 2.9rem;
  font-weight: bold;
  color: var(--orange);
  cursor: pointer;
  padding: 2px 6px;
}
.increase-btn:hover,
.decrease-btn:hover {
  color: hsl(26, 100%, 65%);
}
.product-details {
  max-width: 700px;
  justify-self: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
  background-color: var(--orange);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  transition: 0.2s ease-out;
  font-weight: bold;
  font-size: 1.6rem;
}
.add-to-cart:hover {
  background-color: hsl(26, 100%, 65%);
}
.product-images__container {
  position: relative;
}
.arrow-btn {
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  display: none;
}
.arrow-btn .right,
.arrow-btn .left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: var(--white);
  color: var(--black);
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-btn .left {
  left: 5%;
}
.arrow-btn .right {
  right: 5%;
}
.selected-thumbnail {
  border: 3px solid var(--orange);
}

.fade-out {
  opacity: 0;
}
.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.price__container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.price__discount {
  color: var(--orange);
  background-color: var(--pale-orange);
  padding: 3px 8px;
  font-size: 1.4rem;
  border-radius: 5px;
  font-weight: bold;
}
.price__main {
  font-size: 2.8rem;
  letter-spacing: 1.8px;
}
.price__cancelled {
  color: var(--grayish-blue);
  text-decoration: line-through;
}
@media (max-width: 970px) {
  .product-container {
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin: 0 auto;
    top: 90px;
    left: 0;
    position: absolute;
  }
  .product-images {
    flex-direction: row;
  }
  .main-image {
    max-width: 48rem;
    max-height: 48rem;
  }
  .image-thumbnails__img {
    width: 11.5rem;
  }
  .image-thumbnails {
    flex-direction: column;
  }
  .product__title {
    font-size: 4rem;
  }
}

@media (max-width: 690px) {
  .product-container {
    padding-top: 0;
    padding-bottom: 3rem;
  }
  .image-thumbnails {
    display: none;
  }
  .main-image {
    max-width: 70rem;
    max-height: 70rem;
    width: 100%;
    height: auto;
    border-radius: 0;
    cursor: default;
  }
  .product-details {
    width: 90%;
  }
  .arrow-btn {
    display: block;
  }
  .product-select {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .price {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .product__title {
    font-size: 3.2rem;
  }
  .price__main {
    font-size: 2.8rem;
  }
  .price__cancelled {
    font-size: 1.6rem;
  }
  .price__discount {
    font-size: 1.4rem;
  }
}
@media (max-width: 270px) {
  .price {
    flex-direction: column;
    align-items: flex-start;
  }
}
