/* colors  */
:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

/* css reset  */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Kumbh Sans", sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}
img {
  max-width: 100%;
  height: auto;
}
button {
  background-color: transparent;
  border: none;
}
.container {
  width: 85%;
  max-width: 1536px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 830px) {
  .container {
    width: 90%;
  }
}
